.user-wrapper {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

@media screen and (max-width: 1170px) {
    .user-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .user-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .user-wrapper {
        padding: 30px;
        grid-template-columns: 1fr;
    }
}
